pom.xml
.cpcache/
.shadow-cljs/
target/
node_modules/
cljs-runtime/
resources/portal/
resources/portal-dev/
!.clj-kondo/config
.clj-kondo/*
.DS_Store
.nrepl-port
.bb-repl
clojure.data.json*

# vscode
*.calva/
.lsp/
.portal/

# intellij files
.idea/
*.iml

obj/

/py/
**__pycache__**