{:paths ["src" "resources" "dev" "test"]
 :min-bb-version "0.6.4"
 :tasks {app    tasks/app
         deps   tasks/fix-deps
         ci     tasks/ci
         clean  tasks/clean
         check  tasks/check
         dev    tasks/dev
         e2e    tasks/e2e-all
         fmt    tasks/format
         jar    tasks/jar
         test   tasks/test
         tag    tasks/tag
         ext    tasks/build-extensions
         deploy tasks/deploy}}
