{:paths ["src" "resources" "dev" "test"]
 :min-bb-version "0.5.0"
 :tasks {app   tasks/app
         ci    tasks/ci
         clean tasks/clean
         dev   tasks/dev
         e2e   tasks/e2e-all
         fmt   tasks/format
         jar   tasks/jar
         test  tasks/test}}
