{:paths ["src" "resources"]
 :deps
 {com.cognitect/transit-clj {:mvn/version "1.0.324"
                             :exclusions [org.msgpack/msgpack
                                          javax.xml.bind/jaxb-api]}
  com.cognitect/transit-cljs {:mvn/version "0.8.264"}
  cheshire/cheshire {:mvn/version "5.10.0"
                     :exclusions [tigris/tigris]}
  http-kit/http-kit {:mvn/version "2.5.0"}}
 :aliases
 {:dev {:extra-paths ["dev" "test"]}
  :dev-cljs
  ;; Using clojurescript from source is required to get around
  ;; the older version (0.8.309) of transit-clj bundled in their jar.
  ;; This is necessary because the :default-handler for transit-clj
  ;; wasn't added until 0.8.319
  {:override-deps
   {org.clojure/clojurescript
    {:git/url "https://github.com/clojure/clojurescript.git"
     :tag "1.10.758"
     :sha "f5a9766110227c0d2a8702b32c44d52059b97a53"}}}
  :cljs
  {:extra-deps
   {org.clojure/clojurescript {:mvn/version "1.10.773"}
    reagent/reagent {:mvn/version "0.10.0"}
    lambdaisland/deep-diff2 {:mvn/version "2.0.108"}
    markdown-clj/markdown-clj {:mvn/version "1.10.5"}
    hickory/hickory {:mvn/version "0.7.1"}}}
  :shadow-cljs
  {:extra-deps
   {thheller/shadow-cljs {:mvn/version "2.11.8"}}
   :main-opts ["-m" "shadow.cljs.devtools.cli"]}
  :edn  {:main-opts ["-m" "portal.main" "edn"]}
  :json {:main-opts ["-m" "portal.main" "json"]}
  :kondo
  {:main-opts ["-m" "clj-kondo.main"]
   :extra-deps {clj-kondo/clj-kondo {:mvn/version "2020.12.12"}}}
  :cljfmt
  {:main-opts ["-m" "cljfmt.main"]
   :extra-deps {cljfmt/cljfmt {:mvn/version "0.7.0"}}}
  :cider
  {:extra-deps
   {nrepl/nrepl       {:mvn/version "0.8.3"}
    cider/cider-nrepl {:mvn/version "0.25.5"}}}
  :check
  {:main-opts ["-m" "clj-check.check"]
   :extra-deps
   {athos/clj-check
    {:git/url "https://github.com/athos/clj-check.git"
     :sha "cd1f25456de5eebda0a69602dd3445905382b3a4"}}}
  :test
  {:extra-paths ["test"]
   :extra-deps
   {babashka/clj-http-lite
    {:git/url "https://github.com/babashka/clj-http-lite.git"
     :sha "a75db6db60eadcf609104a979b29499f54b3665b"}}}
  :antq
  {:replace-deps
   {antq/antq           {:mvn/version "0.9.3"}
    org.slf4j/slf4j-nop {:mvn/version "1.7.30"}}}
  :yaml
  {:extra-deps {clj-commons/clj-yaml {:mvn/version "0.7.2"}}}}}
