{:deps {:aliases [:cljs]}
 ;:nrepl {:middleware [portal.nrepl/wrap-portal]}
 :builds
 {:client
  {:output-dir "target/resources/"
   :asset-path "."
   :target :browser
   :compiler-options
   {:infer-externs true
    :warnings-as-errors true}
   :modules {:main {:init-fn portal.ui.core/main!}}
   :release {:output-dir "resources/"}
   :devtools {:after-load portal.ui.core/reload!
              :preloads   [cljs.user]}}

  :demo
  {:output-dir "target/demo/"
   :asset-path "."
   :target :browser
   :compiler-options
   {:infer-externs true
    :warnings-as-errors true}
   :modules {:main {:init-fn examples.demo/main!}}
   :devtools {:after-load examples.demo/reload!}}

  :node
  {:target :node-script
   :main portal.main/-main
   :output-to "target/node.js"
   :compiler-options {:warnings-as-errors true}}}}
