{:deps {:aliases [:cljs]}
 :dev-http {4400 ["resources/" "target/pwa/"]}
 ;:nrepl {:middleware [portal.nrepl/wrap-portal]}
 :builds
 {:client
  {:output-dir "target/resources/portal/"
   :asset-path "."
   :target :browser
   :compiler-options
   {:infer-externs true
    :warnings-as-errors true}
   :modules {:main {:init-fn portal.ui.core/main!}}
   :release {:output-dir "resources/portal/"}
   :devtools {:after-load portal.ui.core/reload!
              :preloads   [cljs.user]}}

  :pwa
  {:output-dir "target/pwa/"
   :asset-path "."
   :target :browser
   :compiler-options
   {:infer-externs true
    :warnings-as-errors true}
   :modules {:main {:init-fn portal.ui.pwa/main!}}
   :release {:output-dir "target/pwa-release/"}
   :devtools {:after-load portal.ui.pwa/reload!}}

  :test
  {:target    :node-test
   :output-to "target/test.js"}

  :node
  {:target :node-script
   :main portal.main/-main
   :output-to "target/node.js"
   :compiler-options
   {:infer-externs true
    :warnings-as-errors true}}}}
