{:deps {:aliases [:cljs]}

 :dev-http {4425 ["resources/"]}

 :nrepl {:port 4450}

 :builds
 {:demo
  {:target :browser
   :output-dir "resources/js"

   :modules
   {:main {:init-fn demo/init}}

   :dev
   {:compiler-options {:source-map true}}}}}
