{:cljdoc.doc/tree
 [["Readme" {:file "README.md"}]
  ["Changes" {:file "CHANGELOG.md"}]
  ["UI Concepts"
   {:file "doc/ui/index.md"}
   ["Selection" {:file "doc/ui/selection.md"}]
   ["Viewers" {:file "doc/ui/viewers.md"}]
   ["Commands" {:file "doc/ui/commands.md"}]
   ["History" {:file "doc/ui/history.md"}]
   ["Shortcuts" {:file "doc/ui/shortcuts.md"}]
   ["Filtering" {:file "doc/ui/filtering.md"}]
   ["Themes" {:file "doc/ui/themes.md"}]]
  ["Remote API" {:file "doc/remote-api.md"}]
  ["Guides"
   ["Exceptions" {:file "doc/guides/exceptions.md"}]
   ["Logging"
    ["Portal Console" {:file "doc/guides/portal-console.md"}]
    ["Timbre" {:file "examples/timbre/README.md"}]
    ["μ/log" {:file "examples/mulog/README.md"}]]
   ["JavaScript Promises" {:file "doc/guides/promises.md"}]
   ["Custom Tap List" {:file "doc/guides/custom-taps.md"}]
   ["Default Viewer" {:file "doc/guides/default-viewer.md"}]
   ["Test Runner" {:file "doc/guides/test-runner.md"}]
   ["Git Dep" {:file "doc/guides/git-deps.md"}]
   ["Shadow CLJS" {:file "doc/guides/shadow-cljs.md"}]
   ["nREPL" {:file "doc/guides/nrepl.md"}]
   ["Portal Standalone" {:file "doc/guides/standalone.md"}]
   ["Clerk" {:file "doc/guides/clerk.md"}]]
  ["Editors"
   ["Emacs"    {:file "doc/editors/emacs.md"}]
   ["VS Code"  {:file "doc/editors/vs-code.md"}
    ["Clojure Notebooks" {:file "doc/editors/vs-code-notebook.md"}]]
   ["Intellij" {:file "doc/editors/intellij.md"}]]
  ["CLI Usage" {:file "doc/cli.md"}]
  ["Datafy / Nav" {:file "doc/datafy.md"}]
  ["Dev Guide"
   {:file "doc/dev/index.md"}
   ["System Deps" {:file "doc/dev/deps.md"}]
   ["Editor Setup" {:file "doc/dev/editors.md"}]
   ["Dev Tasks" {:file "doc/dev/tasks.md"}]]
  ["Inspiration" {:file "doc/inspiration.md"}]]}
