name: Clojure CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: ./.github/setup
    - run: bb check
  test-clj:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: ./.github/setup
    - run: bb -m tasks.test/clj
  test-cljs:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: ./.github/setup
    - run: bb -m tasks.planck
    - run: bb -m tasks.test/cljs
  app:
    runs-on: ubuntu-latest
    needs: [ test-clj, test-cljs, check ]
    if: github.event_name == 'push'
    steps:
    - uses: actions/checkout@v2
    - uses: ./.github/setup
    - run: bb app
    - uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./target/pwa-release/
  deploy:
    runs-on: ubuntu-latest
    needs: [ test-clj, test-cljs, check ]
    # if: startsWith(github.event.head_commit.message, 'Release ')
    # environment: deploy
    steps:
    - uses: actions/checkout@v2
    - uses: ./.github/setup
    - id: info
      run: bb -m tasks.info
    - run: bb -m tasks.package
    # - run: bb -m tasks.deploy
    #   env:
    #     CLOJARS_PASSWORD: ${{ secrets.CLOJARS_PASSWORD }}
    #     CLOJARS_USERNAME: ${{ secrets.CLOJARS_USERNAME }}
    #     VSCE_PAT: ${{ secrets.VSCE_PAT }}
    - uses: softprops/action-gh-release@v1
      with:
        tag_name: ${{ steps.info.outputs.version }}
        files: |
          target/*.jar
          extension-vscode/*.vsix
          extension-intellij/build/distributions/*.zip
